spring:
  profiles:
    group:
      local:
        - h2
        - dev-tool
      prod:
        - mysql
  messages:
    encoding: UTF-8
  web:
    locale: jp
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
      WRITE_ENUMS_USING_TO_STRING: true
  jpa:
    open-in-view: false

server:
  port: ${PORT:8080}

logging:
  level:
    org.springframework: INFO
